.colored {
    background-image: url("../over-jabra-img/nineth.png");
    background-position: bottom;
    background-size: 100% 70%;
    background-repeat: no-repeat;
}

.black {
    color: #1A1A1A;
    font-size: 26px;
    font-weight: 500;
}

.first-line {
    color: white;
}

.middle-text {
    font-size: 24px;
    color: white;
}

.middle-text-2 {
    color: #768393;
    font-size: 24px;
}

form label {
display: none;
}


form input {
    margin: 0.3rem 0;
    border: none;
    padding: 0 20px;
    background: #FFF;
    border: 2px solid #fff;
}


form input:not([type="checkbox"]) {
    width: 100%;
    height: 45px;
}

.checkbox input,
.checkbox label {
    display: inline;
    color: #FFF;
}

.checkbox {
    margin-top: 10px;
}

form .button {
    background-color: #ffd100;
    color: #1a1a1a;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lead-form {
    justify-content: center;
}

.text,
.email {
    width: 45%;
    margin-right: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
}


.text input,
.email input {
    height: 50px;
    width: 100%;
    border: none;
    margin-bottom: 1rem;
    padding: 10px;
}

@media screen and (max-width: 1440px) {
    .img {
        width: 91%;
    }
}


@media screen and (max-width: 1024px) {
    .img {
        width: 88%;
    }

    .colored {
        background-size: 100% 76%;
    }
}


@media screen and (max-width: 768px) {
    .colored {
        background-size: 100% 80%;
    }

    .img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .colored {
        background-size: 100% 87%;
    }

    .first-line {
        font-size: 40px;
    }
}

@media screen and (max-width: 375px) {
    .colored {
        background-size: 100% 89%;
    }
}

@media screen and (max-width: 320px) {
    .colored {
        background-size: 100% 90%;
    }

    .first-line {
        font-size: 35px;
    }
}

.text,
.email{
    width: 45%;
    margin-right: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
}


.text input,
.email input {
    height: 50px;
    width: 100%;
    border: none;
    margin-bottom: 1rem;
    padding: 10px;
}