.header {
    background-color: #627776;
}

.colored {
    background-image: url("https://assets.channext.eu/jabra/2023/evolve2-50%2655%2665/img/bg.png");
     background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 75%;
}


.bg2 {
    background-image: url("https://assets.channext.eu/jabra/2023/evolve2-50%2655%2665/img/bg2.png");
     background-repeat: no-repeat;
    background-position: top;
    background-size:  100% 70%;
}

.small-text {
font-size: 12px;
}

.red-line {
text-decoration: none!important;
color: red !important;
}


.red-line:hover {
text-decoration: underline!important;
color: red!important;
}
  
.bottom-line {
   border-bottom: 2px solid #ffd100;
}

.btn-first {
background-color: #faf9f6;
color:#627776;
border: 2px solid #faf9f6;
}

.btn-first:hover {
background-color: transparent;
color: #faf9f6;
border: 2px solid #faf9f6;
} 

.yellow-btn {
background-color: #ffd100 !important;
color:#000 !important;
border: 2px solid #ffd100 !important;
}

.yellow-btn:hover {
background-color: transparent !important;
color: #000 !important;
border: 2px solid #ffd100 !important;
}

.block {
    border-bottom-left-radius: 45rem;
    border-top-left-radius: 45rem;
}

.icon-service {
width: 40%;
}

.colored-2 {
    background-color: #6C859F;
}

.grey-border {
border-bottom: 2px solid #a7a8a8;
}


.w-600 {
font-weight: 600;
}

.text-30 {
font-size: 30px;
font-weight: 600;
}

.text-21 {
font-size: 21px;
}

p {
font-size: 18px;
}

.text-14 {
font-size: 14px;
}

h1 {
font-size: 50px;
line-height: 50px;
} 

.desktop-screen {
display: inline-block;
}

.mobile-screen {
display: none;
}

 li {
    margin: 0 15px 10px 15px !important;
    list-style: none;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-features li::before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "jbr-content";
    margin-right: 0.5rem;
    color: #000;
}

.product-features-65 li::before  {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 1.3rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "jbr-content";
    margin-right: 0.5rem;
 color: #FFFFFF;
 }

/* Text Fonts Sizes*/
body {
font-family: Helvetica !important;
color: #1a1a1a;
}

/* Form */

form label {
    display: none;
}

form label[for="fieldinformation"] {
    width: 100%;
    margin-top: 0.5rem;
}

form input[type="checkbox"] {
    width: 2%;
}

form input::placeholder, form textarea::placeholder {
color:#000;
}

form input:focus {
    border: 1px solid #f7f7f7;
    background: #fff;
    outline: 0;
}

form input, form input:hover {
    margin: 0.5rem 0 !important;
     background: #f7f7f7;
    border: 1px solid transparent;
    padding: 0 20px !important;
    background: #fff !important;
}

form input:not([type="checkbox"]) {
    width: 98%;
    height: 45px;
}

form button {
margin-top: 5%;
background-color: #ffd100 !important;
color:#000 !important;
border: 2px solid #ffd100 !important;
padding: 9px 50px;
}

form button:hover  {
margin-top: 5%;
background-color: transparent !important;
color: #000 !important;
border: 2px solid #ffd100 !important;
padding: 9px 50px;
}

.fieldvendor_opt_in.checkbox, .fieldreseller_opt_in.checkbox {
width:100%;
}

form input[type="checkbox"] {
    margin-top: 1rem;
}

.fieldinformation.checkbox {
    margin-bottom: 2rem;
}

.checkbox label {
    display: inline;
}

.fieldapplication_area label[for="fieldapplication_area"] {
    width: 100%;
    display: block;
}

/* Screens */

@media screen and (max-width: 1200px) {
.text-21 {
    font-size: 18px;
}
}

@media screen and (max-width: 992px) {
.icon-service {
    width: 25%;
}

.mb-mobile {
margin-bottom: 8%;
}
    
.title-text {
font-size: 25px !important;
} 

.text-30 {
font-size: 25px;
}

.desktop-screen {
display: none !important;;
}

.mobile-screen {
display: inline-block !important;;
}

.block {
    width: 100%;
    }
}

@media screen and (max-width: 1200px) {

h1 {
font-size: 40px !important;
} 
}

@media screen and (max-width: 992px) {

h1 {
font-size: 33px !important;
} 
}

@media screen and (max-width: 575px) {

h2 {
font-size: 30px !important;
} 

.colored-1 {
    background-size:  100% 85%;
}
}

@media screen and (max-width: 375px) {

h2 {
font-size: 25px !important;
} 
}

.software-section {
    position: relative;
}

.software-section__menu {
    margin-top: -1%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.software-section__menu-item {
    padding: 1.5rem 4px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    user-select: none;
    transition: 0.2s linear all;
}

.software-section__menu-item {
    display: flex;
}

.software-section__menu-item .dark {
    display: none;
}

.software-section__menu-item.active .dark {
    display: flex;
}

.software-section__menu-item .white {
    display: flex;
}

.software-section__menu-item.active .white {
    display: none;
}